@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


/* General */
html, body {
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Lucida Grande", Helvetica, Verdana, sans-serif;
	color: #5f5f5f;
}

#container {
	width: 660px;
	margin: 100px auto 0;
	display: block;
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#box {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#content {
	padding: 10px;
	font-size: 14px;
}

#content h2 {
	font-size: 24px;
	text-align: left;
	font-family: "Maven Pro", "Lucida Grande", Helvetica, Verdana, sans-serif;
	padding: 10px 0 10px;
}

#content ul {
	margin-left: 20px;
}

#content ul li {
	list-style: square;
	list-style-position: outside;
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a, a:visited {
	color: #196cb1;
	-webkit-transition: color 0.3s ease-in-out 0s;
}

a:hover, a:active {
	color: #4797d9;
}

#avatar {
	width: 208px;
	height: 208px;
	margin: 34px 0 0 34px;
	float: left;
}

#avatar img {
	width: 208px;
	height: 208px;
	border: none;
	display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#avatar {
		background-image: url('../images/avatar@2x.png');
		-webkit-background-size: 208px 208px;
	}
	
	#avatar img {
		display: none;
	}
}

#header {
	width: 338px;
	margin: 72px 40px 0 40px;
	float: right;
	font-size: 14px;
}

#header h1 {
	font-size: 43px;
	text-align: left;
	margin-top: -10px;
	margin-left: -2px;
	font-family: "Maven Pro", "Lucida Grande", Helvetica, Verdana, sans-serif;
}

#contact {
	margin: 0 auto;
}

#contact li {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

#contact li:last-child {
	border-right: none;
}

#summary {
	padding: 10px 0 20px;
	line-height: 1.4;
}

#crypto {
	margin-top: 20px;
	font-size: 12px;
	opacity: 0.7;
}