@import url('reset.css');
@import url('http://fonts.googleapis.com/css?family=Maven+Pro');


/* General */
html, body {
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
}

body {
    font-family: "Maven Pro", "Lucida Grande", Helvetica, Verdana, sans-serif;
	color: #5f5f5f;
}

#container {
	width: 100%;
	position: absolute;
	top: 50%;
	margin: -121px 0 0 0;
	display: block;
}

#box {
	width: 660px;
	height: 242px;
	padding: 0px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#avatar {
	width: 208px;
	height: 208px;
	margin: 34px 0 0 34px;
	float: left;
}

#avatar img {
	width: 208px;
	height: 208px;
	border: none;
	display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#avatar {
		background-image: url('../images/avatar@2x.png');
		-webkit-background-size: 208px 208px;
	}
	
	#avatar img {
		display: none;
	}
}

#content {
	width: 350px;
	margin: 72px 34px 0 34px;
	float: right;
}

#content h1 {
	font-size: 43px;
	text-align: center;
	margin-top: -10px;
}

#content h2 {
	font-size: 18px;
	/*letter-spacing: 1pt;*/
	text-align: center;
	margin: 0 0 20px 0;
}

#content p {
	font-size: 16px;
	text-align: center;
}

#content a, #contenta:visited {
	color: #196cb1;
	padding: 0 5px;
	-webkit-transition: color 0.3s ease-in-out 0s;
}

#content a:hover, #content a:active {
	color: #4797d9;
}

/*@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#teaser h1 {
		background-image: url('../images/logo@2x.png');
		-webkit-background-size: 102px 102px;
	}
}

#teaser h1 span {
	display: none;
}

#teaser p {
	width: 490px;
	height: 102px;
	margin: 21px 0 0;
	display: block;
	float: right;
	font-size: 18px;
	line-height: 30px;
}*/
